body {
    background-color: rgb(224, 245, 250);
}

h1, h4, p,.form-label, a {
    color: rgb(11, 11, 11);
}

.nav-link{
    color: white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}